
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    <div class="well well-small">
        <div class="alert alert-success">
            Ban vua mua hang thanh cong
        </div>
    </div>
</div>

