@model List<QLCuaHangNoiThat.Models.CartItem>

<div class="well well-small">
    <a id="myCart" href="/Cart/Index">
        <img src="/asset/client/themes/images/ico-cart.png" alt="cart">@Model.Count san pham )
        <span class="badge badge-warning pull-right">$</span>
    </a>
</div>


